$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background:#eeeeee;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

//------------------------------------------------------------


$theme_color: #3F0D3A;
$theme_color2: #8cb128;
$table_bgcolor: white;
$font_detail_color: lighten(grey, 10%);

@mixin add_padding($h: 2em, $w:0, $b:0) {
  padding: $h $w $b;
}

.unbreak{
  white-space: nowrap;
}

// padding for container
.in-content {
  @include add_padding(3em,3em);
}
.hidden-input {
  @include add_padding(1em,0,1em);
}
.sub-label-indent {
  text-indent:1em;
  @media screen and (max-width: 500px) {
    text-indent:0;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.nav-tabs, .nav-pills {
    text-align:center;
    > li {
          float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
    }
}



.icon-centered {
    display: table;
    margin: 0 auto;
    padding:0 0 0.5em;
}

.hd-requirement {
    @media screen and (min-width: 800px) {
      width:70%;
      margin: 2em auto;
    }
    background: $theme_color;
    color: white;
    text-align: center;
    &.cmsBG {
      background: $theme_color2;
    }
}

.my-addon {
  background: rgba(255,255,255,0.1);
  border: 0;
  border-bottom:0.2em solid $theme_color;
  font-size: 1.1em;
}

.input {
  @extend .my-addon;
  &.cmsBdr {
     border-bottom:0.2em solid $theme_color2;
  }
}

.filter {
  text-align: center;
  > input {
    @extend .input;
    min-width:70%;
    max-width:80%;
  }
}

.input-label {
  padding-top:0.1em;
}

.section {
  padding: 0.2em;
  &.section-require {
    text-align: left;
  }
}

.flex {
  display: -webkit-flex;
  display: flex;
  .flex1 {
    -webkit-flex: 1;
    flex: 1;
    background: rgba(1,1,1,0.2);
    border-style: solid;
    text-align: center;
    &:hover{
      background: rgba(1,1,1,0.5);
    }
    &.selected {
      background: $theme_color;
      opacity: 0.9;
      color:white;
      border-color: lighten(black, 10%);
      &.cmsFlex {
        background: $theme_color2;
      }
    }

  }
}

.table-showdigit {
  .table {
    background: $table_bgcolor;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
    .caption, th {
      text-align: center;
    }

    td {
      font-size: 3em;
      color: $theme_color;
    }
    &.cmsTB td{
      color: $theme_color2;
      &.greyMinus {
        color: $font_detail_color;
      }
    }
    sub {
      font-size: 0.5em;
    }
  }
}
.jumbotron {
  padding-top: 0;
}

.hr {
  margin-top:0;
}

.details {
  color: $font_detail_color;
  max-width:80%;
  border-bottom:.2em ridge;
  padding: .2em
}

// .btnNVR:active > a {
//     background-color: $theme_color;
//   }
// .btnCMS:active > a {
//     background-color: $theme_color2;
//   }


.estdays {
  background:$theme_color;
  color:white;
}

.bigDays{
  @extend .unbreak;
  text-align: center;
  font-size:3em;
  @media screen and (max-width: 415px) and (min-width: 321px) {
    font-size:4em;
  }
  sub:before {
      content:' ';
    }
  @media screen and (min-width: 700px) {
    sub:before {
      content:' ';
    }
  }
  sub {
    font-size:0.7em;
  }
}

.estDaysPanel{
  height:38vh;
  background:white;
  @media screen and (max-width: 320px) {
    padding-top: 0;
    margin-top:0;
    height:80vh;
  }
  @media screen and (max-width: 415px) and (min-width: 321px) {
    margin-top:0;
    padding-top: 0;
    height:60vh;
  }
}
.estDayItem {
  padding:5vh 0;
  @media screen and (max-width: 320px) {
    padding:5vh 0;
    margin-bottom: 14vh;
  }
  @media screen and (max-width: 415px) and (min-width: 321px) {
    padding:5vh 0;
    margin-bottom: 8vh;
  }
}
.estDaysPanel.ng-enter {
  transition:0.3s linear all;
  opacity: 0;
}
.estDaysPanel.ng-enter.ng-enter-active {
  opacity: 1;
}
.estDaysPanel.ng-leave {
  transition:0.3s linear all;
  opacity: 1;
}
.estDaysPanel.ng-leave.ng-leave-active {
  opacity: 0;
}




// --------- for Range bar ------------------


@mixin pseudoRange {
  position: absolute;
  top: 3px;
  width: 2000px;
  height: 4px;
  content:"";
  pointer-events: none;
  transition:.2s;
}



@mixin rangebar {
  -webkit-appearance: none;
  outline : none;
  width:10em;
  height:1em;
  background:none;
  overflow:hidden;
  top:-1%;
  &::-webkit-slider-thumb {
    position: relative;
    transition:.2s;
    -webkit-appearance: none;
    border-radius:50%;
    width:10px;
    height:10px;
    &:active, &:hover {
      width:13px;
      height:13px;
    }
  }
  &::-webkit-slider-thumb:before{
      @include pseudoRange;
      left:-1200px;
  }
  &::-webkit-slider-thumb:after{
    @include pseudoRange;
    background:lighten($font_detail_color, 20%);
    left:10px;
  }
  &:active::-webkit-slider-thumb:after,
  &:hover::-webkit-slider-thumb:after{
    left:13px;
  }
  &::-moz-range-track{
    height:4px;
    background:lighten($font_detail_color, 20%);
    border:none;
  }
  &::-moz-range-thumb{
    width:10px;
    height:10px;
    border:none;
    border-radius: 50%;
    &:active, &:hover {
      width:13px;
      height:13px;
    }
  }
  &::-moz-range-progress {
    height:4px;
  }
  &::-moz-focus-outer{
    border:none;
  }

}

.rangebar {
  @include rangebar;
  &::-webkit-slider-thumb {
    background:$theme_color;
  }
  &::-webkit-slider-thumb:before {
    background:$theme_color;
  }
  &::-moz-range-thumb {
    background:$theme_color;
  }
  &::-moz-range-progress {
    background:$theme_color;
  }
}
.rangebar-cms {
  @include rangebar;
  &::-webkit-slider-thumb {
    background:$theme_color2;
  }
  &::-webkit-slider-thumb:before {
    background:$theme_color2;
  }
  &::-moz-range-thumb {
    background:$theme_color2;
  }
  &::-moz-range-progress {
    background:$theme_color2;
  }
}


.range-div {
  @include add_padding(1em,0);
}
