<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My web app</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- //build:css(app) styles/vendor.css -->
    <!-- //bower:css -->
    <!-- //endbower -->
    <!-- //endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

<!-- <header
  class="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a
                  class="navbar-brand hidden-xs"
                  ui-sref="app"
                  ng-click="activate(0)">
                    My App
                </a>
            </div>
            <div class="centerify">
                <ul class="nav navbar-nav">
                    <li
                      ng-class="{active:activeArr[0]}"
                      ng-click="activate(0)"
                      ui-sref="app">
                        <a>Add/Sub</a>
                    </li>
                    <li
                      ng-class="{active:activeArr[1]}"
                      ng-click="activate(1)"
                      ui-sref="app.md">
                        <a>Mul/Div</a>
                    </li>
                    <li
                      ng-class="{active:activeArr[2]}"
                      ng-click="activate(2)"
                      ui-sref="app.list">
                        <a>List</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="alert">
        <uib-alert
          ng-repeat="alert in alerts"
          type="{{alert.type}}"
          close="closeAlert($index)">
          {{alert.msg}}
        </uib-alert>
    </div>
</header>
 -->





    <div ui-view="header"></div>
    <div ui-view="content" class="in-content"></div>
    <div ui-view="footer"></div>

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/routes.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/project.js"></script>
    <script src="scripts/services/storageFactory.js"></script>
    <script src="scripts/services/fileProcessService.js"></script>
    <script src="scripts/services/alertService.js"></script>
    <!-- endbuild -->

</body>
</html>
