<div class="modal-header" ng-controller="bRateModalCtrl">
  <div class="modal-body">
    <div class="myPanel myPanel-bitrate row">

      <!-- Left Part -->

      <div class="col-xs-6 col-sm-2 col-sm-offset-3
                  col-sm-pull-1 bigDays vcenter">
                  {{getBitRate()}}<sub>Mbps</sub>
      </div>

      <!-- Right Part -->

      <div class="col-xs-5 col-sm-6 vcenter">
        <div class="row">

          <section class="panelItem">
            <label
              for="codec"
              class="col-xs-12 col-sm-5 col-sm-pull-1
                     input-label sub-label-indent">
              Codec
            </label>
            <div class="col-xs-12 col-sm-5 col-sm-pull-1">
              <select
                id="codec"
                ng-model="data.bitRate.params.codec"
                ng-change="update()"
                ng-options="opt as opt for opt in codecList"
                class="input cmsBdr form-control" >
              </select>
            </div>
          </section>


          <section class="panelItem">
            <label
              for="quality"
              class="col-xs-12 col-sm-5 col-sm-pull-1
                     input-label sub-label-indent">
              Quality
            </label>
            <div class="col-xs-12 col-sm-5 col-sm-pull-1">
              <select
                id="quality"
                ng-model="data.bitRate.params.quality"
                ng-change="update()"
                ng-options="opt as opt for opt in qList"
                class="input cmsBdr form-control">
              </select>
            </div>
          </section>


          <section class="panelItem">
            <label
              for="rs"
              class="col-xs-12 col-sm-5 col-sm-pull-1
                     input-label sub-label-indent">
              Resolution
            </label>
            <div class="col-xs-12 col-sm-5 col-sm-pull-1">
              <select
                id="rs"
                ng-model="data.bitRate.params.resolution"
                ng-change="update()"
                ng-options="opt as opt for opt in RSList"
                class="input cmsBdr form-control">
              </select>
            </div>
          </section>


          <section class="panelItem">
            <label
              for="fps"
              class="col-xs-12 col-sm-5 col-sm-pull-1
                     input-label sub-label-indent">
              FPS
            </label>
            <div class="col-xs-12 col-sm-5 col-sm-pull-1">
              <select
                id="fps"
                ng-model="data.bitRate.params.FPS"
                ng-change="update()"
                ng-options="opt as opt for opt in FPSList"
                class="input cmsBdr form-control">
              </select>
            </div>
          </section>


        </div>
      </div>  <!-- end right part -->

    </div>  <!-- end myPanel -->
  </div>  <!-- end modal-body -->
</div>  <!-- end modal-header -->
