<div
  class="modal-body"
  ng-controller="bRateModalCtrl">
    <div class="myPanel myPanel-bitrate row">


        <!-- Left Part -->
        <div class="col-xs-6 col-sm-2 col-sm-offset-2
              col-sm-pull-1 bigDays vcenter">
            {{getBitRate()}}<sub>Mbps</sub>
        </div>
        <!-- /Left Part -->


        <!-- Right Part -->
        <div class="col-xs-5 col-sm-6 vcenter">
            <div class="row">

                <section class="panelItem">
                    <label
                      for="codec"
                      class="col-xs-12 col-sm-6 padding-top-01 ">
                        Codec
                    </label>
                    <div class="col-xs-12 col-sm-6">
                        <select
                          id="codec"
                          ng-model="data.bitRate.params.codec"
                          ng-options="opt as opt for opt in codecList"
                          ng-class="{cmsBdr:!onNVR}"
                          class="input form-control">
                        </select>
                    </div>
                </section>

                <section class="panelItem">
                    <label
                      for="quality"
                      class="col-xs-12 col-sm-6 padding-top-01 ">
                        Quality
                    </label>
                    <div class="col-xs-12 col-sm-6">
                        <select
                          id="quality"
                          ng-model="data.bitRate.params.quality"
                          ng-options="opt as opt for opt in qList"
                          ng-class="{cmsBdr:!onNVR}"
                          class="input form-control">
                        </select>
                    </div>
                </section>

                <section class="panelItem">
                    <label
                      for="rs"
                      class="col-xs-12 col-sm-6 padding-top-01 ">
                        Resolution
                    </label>
                    <div class="col-xs-12 col-sm-6">
                        <select
                          id="rs"
                          ng-model="data.bitRate.params.resolution"
                          ng-change="update()"
                          ng-options="opt as opt for opt in RSList"
                          ng-class="{cmsBdr:!onNVR}"
                          class="input form-control">
                        </select>
                    </div>
                </section>

                <section class="panelItem">
                    <label
                      for="fps"
                      class="col-xs-12 col-sm-6 padding-top-01 ">
                        FPS
                    </label>
                    <div class="col-xs-12 col-sm-6">
                        <select
                          id="fps"
                          ng-model="data.bitRate.params.FPS"
                          ng-change="update()"
                          ng-options="opt as opt for opt in FPSList"
                          ng-class="{cmsBdr:!onNVR}"
                          class="input form-control">
                        </select>
                    </div>
                </section>

            </div> <!-- /row -->

        </div> <!-- /Right Part -->

    </div> <!-- /myPanel -->
</div> <!-- /modal-body -->
