<div class="row">
    <form
      class="form-horizontal"
      name="formHolder.myForm"
      novalidate="">
        <section class="col-xs-12">
            <div class="row">

                <div class="col-xs-12 col-sm-1 col-sm-push-2">
                </div>

                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div
                      class="row form-group"
                      ng-class="{ 'has-error' : emptyN1 || badN1 }">
                        <label
                          for="mynum1"
                          class="col-xs-6 col-sm-2
                            col-sm-offset-3">
                            Numbers
                        </label>
                        <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                            <input
                              type="tel"
                              class="form-control"
                              id="mynum1"
                              name="mynum1"
                              pattern="\d{1,5}"
                              maxlength="5"
                              onkeyup="value=value.replace(/[^\d]/g,'')"
                              placeholder="Enter the number"
                              required
                              ng-model="data.mynum1"
                              ng-change="ValidCheck()" />
                            <span
                              class="help-block"
                              ng-show="emptyN1">
                                The number is required.
                            </span>
                            <span
                              class="help-block"
                              ng-show="badN1">
                                Please enter a valid number.
                            </span>
                        </div>
                    </div>





                    <div
                      class="row form-group"
                      ng-class="{ 'has-error' : emptyN2 || badN2 }">
                        <label
                          for="mynum2"
                          class="col-xs-6 col-sm-2
                            col-sm-offset-3">
                            Number2
                        </label>
                        <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                            <input
                              type="tel"
                              class="form-control"
                              id="mynum2"
                              name="mynum2"
                              pattern="\d{1,5}"
                              maxlength="5"
                              onkeyup="value=value.replace(/[^\d]/g,'')"
                              placeholder="Enter the number"
                              required
                              ng-model="data.mynum2"
                              ng-change="ValidCheck()" />
                            <span
                              class="help-block"
                              ng-show="emptyN2">
                                The number is required.
                            </span>
                            <span
                              class="help-block"
                              ng-show="badN2">
                                Please enter a valid number.
                            </span>
                        </div>
                    </div>




                </div>
            </div> <!-- /row -->
        </section>



        <div ng-if="hasOffset">
            <section class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-1 col-sm-push-2">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

                      <div
                        class="row form-group"
                        ng-class="{ 'has-error' : emptyD1 || badD1 }">
                          <label
                            for="offset"
                            class="col-xs-6 col-sm-2
                              col-sm-offset-3">
                              Offset
                          </label>
                          <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                              <input
                                type="tel"
                                class="form-control"
                                id="offset"
                                name="offset"
                                pattern="\d{1,5}"
                                maxlength="5"
                                onkeyup="value=value.replace(/[^\d]/g,'')"
                                placeholder="Enter the number"
                                required
                                ng-model="data.offset"
                                ng-change="ValidCheck()" />
                              <span
                                class="help-block"
                                ng-show="emptyD1">
                                  The number is required.
                              </span>
                              <span
                                class="help-block"
                                ng-show="badD1">
                                  Please enter a valid number.
                              </span>
                          </div>
                      </div>


                    </div>
                </div> <!-- /row -->
            </section>
        </div> <!-- /ng-if:hasOffset -->


    </form>
</div>


<div
  class="recommend"
  ng-include
  src="'views/recommend.html'"></div>
