 <div class="row">
        <form
          class="form-horizontal"
          name="myForm"
          novalidate="">

          <section class="col-xs-12 section">
            <div class="row">
              <div class="col-xs-12 col-sm-1 col-sm-push-2">
                <i class="fa fa-camera-retro fa-3x icon-centered"></i>
              </div>
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div
                  class="row form-group"
                  ng-class="{ 'has-error' :
                               cameraEmpty || cameraInvalid }">
                  <label
                    for="num_cameras"
                    class="col-xs-6 col-sm-2 col-sm-offset-3
                           input-label">
                    Number of Cameras
                  </label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <input
                      type="tel"
                      class="form-control input"
                      ng-class="{cmsBdr:!onNVR}"
                      id="num_cameras"
                      name="num_cameras"
                      pattern="\d{1,5}"
                      maxlength="5"
                      onkeyup="value=value.replace(/[^\d]/g,'')"
                      placeholder="Enter the number"
                      required
                      ng-model="data.cameras"
                      ng-change="ValidCheck()"/>
                    <span
                      class="help-block"
                      ng-show="cameraEmpty">
                      The number is required.
                    </span>
                    <span
                      class="help-block"
                      ng-show="cameraInvalid">
                      Please enter a valid number.
                    </span>
                  </div>
                </div> <!-- end form-group -->

<!-- ----------------------------- -->

                <div
                  class="row form-group"
                  ng-controller="bRateModalCtrl">
                  <label
                    for="bitrate_per"
                    class="col-xs-6 col-sm-2
                           col-sm-offset-3 input-label">
                      Bit Rate per Camera
                      <sub>(Mbps)</sub>
                  </label>
                  <div
                    class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <div
                      class="input form-control"

                      ng-click="open()"
                      ng-class="{selectedModelInput    : bitRateColorFill,
                                 selectedModelInputCMS : bitRateColorFillCMS,
                                 cmsBdr:!onNVR }">
                      {{getBitRate()}}
                    </div>
                  </div>
                  <div class="col-sm-2"></div>
                </div>

              </div>
            </div> <!-- end row -->
          </section>

<!-- ----------------------------- -->

          <div ng-if="onNVR">

          <section class="col-xs-12 section">
            <div class="row">
              <div class="col-xs-12 col-sm-1 col-sm-push-2">
                <i class="fa fa-database fa-3x icon-centered"></i>
              </div>
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">

<!-- ----------- modal start ----------- -->
                <div
                  class="row form-group"
                  ng-controller="estDayModalCtrl">
                  <label
                    for="num_rdays"
                    class="col-xs-6 col-sm-2
                           col-sm-offset-3 input-label">
                    Estimated Recording Days
                  </label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <div
                      class="input form-control"
                      ng-click="open()"
                      ng-class="{selectedModelInput:estDayColorFill}">
                      {{getEstDays()}}
                    </div>
                  </div>
                  <div class="col-sm-2"></div>
                </div>
<!-- ------------ modal end ------------- -->

              </div>
            </div> <!-- end row -->
          </section>

<!-- ----------------------------- -->

          <section class="col-xs-12 section">
            <div class="row">
              <div class="col-xs-12 col-sm-1 col-sm-push-2">
                <i class="fa fa-hdd-o fa-3x icon-centered"></i>
              </div>
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="row form-group">
                  <label
                    for="RAID"
                    class="col-xs-6 col-sm-2
                    col-sm-offset-3 input-label">
                    RAID Type
                  </label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <select
                      class="input form-control"
                      id="RAID"
                      ng-model="data.RAID"
                      ng-options="opt for opt in RAIDArr">
                    </select>
                  </div>
                </div> <!-- end row -->

                <div class="row form-group">
                  <label
                    for="HDDsize"
                    class="col-xs-6 col-sm-2
                           col-sm-offset-3 input-label">
                    HDD Size
                  </label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <select
                      class="input form-control"
                      id="HDDsize"
                      ng-model="$parent.$parent.hdd"
                      ng-change="showHdd()"
                      ng-options="opt for opt in HDDArr">
                    </select>
                    <div
                      ng-class="{'has-error' : hddInvalid || hddEmpty}"
                      ng-show="showOtherHDD">
                      <div class="hidden-input input-group">
                        <input
                          type="tel"
                          class="form-control input"
                          name="HDDsize"
                          pattern="\d{1,2}"
                          onkeyup="value=value.replace(/[^\d]/g,'')"
                          maxlength="2"
                          placeholder="Enter the size"
                          ng-model="$parent.$parent.hddInput"
                          ng-change="editHdd()"
                          />
                        <div class="input-group-addon my-addon">TB</div>
                      </div>
                      <span
                        class="help-block"
                        ng-show="hddEmpty">
                        The size is required.
                      </span>
                      <span
                        class="help-block"
                        ng-show="hddInvalid">
                        Please enter a valid number.
                      </span>
                    </div> <!-- end validCheck block -->
                  </div> <!-- end HDD -->
                </div> <!-- end row -->
              </div>
            </div>
          </section>

          </div> <!-- /ng-if:onNVR -->


            <section class="col-xs-12 section">
            <div class="row">
              <div class="col-xs-12 col-sm-1 col-sm-push-2">
                <i class="fa fa-user fa-3x icon-centered"></i>
              </div>
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="row form-group">
                  <label
                    for="local-client"
                    class="col-xs-6 col-sm-2 col-sm-offset-3 input-label">
                    Local Client
                  </label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <div class="flex"
                         id="local-client">
                      <div
                        class="flex1"
                        ng-click="selectLocal(true)"
                        ng-class="{selected:data.local,cmsFlex:!onNVR}">
                        Yes
                      </div>
                      <div
                        class="flex1"
                        ng-click="selectLocal(false)"
                        ng-class="{selected:!data.local,cmsFlex:!onNVR}">
                        No
                      </div>
                    </div> <!-- end local-client -->
                  </div>
                </div> <!-- end row -->

                <div class="row form-group range-div" ng-if="!onNVR">
                  <label
                    for="remote-user"
                    class="col-xs-6 col-sm-2 col-sm-offset-3 input-label">
                    Concurrent Remote Users
                  </label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <input
                      type="range"
                      class="rangebar-cms"
                      min="1"
                      max="10"
                      ng-model="data.remoteUsers" />
                    <span class="percentage">{{data.remoteUsers}}</span>
                  </div>
                </div> <!-- /ng-if:onCMS -->
              </div>
            </div> <!-- end row -->
          </section>
        </form>
      </div>


      <div ng-include src="'views/recommend.html'"></div>

