<header
  class="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a
                  class="navbar-brand hidden-xs"
                  ui-sref="app"
                  ui-sref-active-eq="active">
                    My App
                </a>
            </div>
            <div class="centerify">
                <ul class="nav navbar-nav">
                    <li
                      ui-sref="app"
                      ui-sref-active-eq="active">
                        <a>Add/Sub</a>
                    </li>
                    <li
                      ui-sref="app.md"
                      ui-sref-active-eq="active">
                        <a>Mul/Div</a>
                    </li>
                    <li
                      ui-sref="app.list"
                      ui-sref-active-eq="active">
                        <a>List</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="alert">
        <uib-alert
          ng-repeat="alert in alerts"
          type="{{alert.type}}"
          close="closeAlert($index)">
          {{alert.msg}}
        </uib-alert>
    </div>
</header>
