<div ng-controller="MainCtrl">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li class="active"><a href="#nvr" data-toggle="tab" ng-click="whereami(true)">NVR</a></li>
          <li><a href="#cms" data-toggle="tab" ng-click="whereami(false)">CMS</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="table-showdigit col-xs-12 col-md-6 col-md-offset-3">
          <table class="table table-hover table-responsive" ng-class="{cmsTB:!onNVR}">
            <caption class="caption">Calculation - {{onNVR?'NVR':'CMS'}}</caption>
            <thead>
              <tr>
                <th>Total Storage</th>
                <th>Total Bandwidth</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="greyMinus">{{getStorage() | storageFilter}}<sub>{{storageUnit}}</sub></td>
                <td>{{getBandwidth() | storageFilter}}<sub>{{bandwidthUnit}}</sub></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div id="nvr" class="tab-pane fade in active">
      <div class="row customization">
        <form class="form-horizontal" name="NVRForm" ng-submit="submitNVR()" novalidate="">
          <section class="col-xs-12 section">
            <div class="row">
              <div class="col-xs-12 col-sm-1 col-sm-push-2">
                <i class="fa fa-camera-retro fa-3x icon-centered"></i>
              </div>
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="row form-group" ng-class="{ 'has-error' : NVRForm.num_cameras.$error.required && NVRForm.num_cameras.$dirty || NVRForm.num_cameras.$error.pattern && NVRForm.num_cameras.$dirty }">
                  <label for="num_cameras" class="col-xs-6 col-sm-2 col-sm-offset-3 input-label">Number of Cameras</label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <input type="tel" class="form-control input" placeholder="Enter the number" pattern="\d{1,5}" ng-model="NVRObj.cameras" name="num_cameras" id="num_cameras" maxlength="5" onkeyup="value=value.replace(/[^\d]/g,'')" required/>
                    <span ng-show="NVRForm.num_cameras.$error.required && NVRForm.num_cameras.$dirty" class="help-block">The number is required.</span>
                    <span ng-show="NVRForm.num_cameras.$error.pattern && NVRForm.num_cameras.$dirty" class="help-block">Please enter a valid number.</span>
                  </div>
                </div>
                <div class="row form-group">
                  <label for="bitrate_per" class="col-xs-6 col-sm-2 col-sm-offset-3 input-label">Bit Rate per Camera <sub>(Mbps)</sub></label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <div class="input form-control" ng-click="onBitRate=!onBitRate" ng-class="{estdays:onBitRate}">{{getBitRate()}}</div>
                  </div><div class="col-sm-2"></div>
                </div>

              </div>
            </div>
            <div class="myPanel myPanel-bitrate row" ng-if="onBitRate">
              <div class="col-xs-6 col-sm-2 col-sm-offset-3 col-sm-pull-1 bigDays vcenter">{{getBitRate()}}<sub>Mbps</sub>
              </div>
              <div class="col-xs-5 col-sm-6 vcenter">
                <div class="row">
                  <section class="panelItem">
                    <label for="codec" class="col-xs-12 col-sm-5 col-sm-pull-1 input-label sub-label-indent">Codec</label>
                    <div class="col-xs-12 col-sm-5 col-sm-pull-1">
                      <select id="codec" ng-model="$parent.NVRObj.bitRateData.codec" class="input form-control" ng-options="opt as opt for opt in codecList">
                      </select>
                    </div>
                  </section>
                  <section class="panelItem">
                    <label for="quality" class="col-xs-12 col-sm-5 col-sm-pull-1 input-label sub-label-indent">Quality</label>
                    <div class="col-xs-12 col-sm-5 col-sm-pull-1">
                      <select id="quality" ng-model="$parent.NVRObj.bitRateData.quality" class="input form-control" ng-options="opt as opt for opt in qList">
                      </select>
                    </div>
                  </section>
                  <section class="panelItem">
                    <label for="rs" class="col-xs-12 col-sm-5 col-sm-pull-1 input-label sub-label-indent">Resolution</label>
                    <div class="col-xs-12 col-sm-5 col-sm-pull-1">
                      <select id="rs" ng-model="$parent.NVRObj.bitRateData.resolution" class="input form-control" ng-options="opt as opt for opt in RSList">
                      </select>
                    </div>
                  </section>
                  <section class="panelItem">
                    <label for="fps" class="col-xs-12 col-sm-5 col-sm-pull-1 input-label sub-label-indent">FPS</label>
                    <div class="col-xs-12 col-sm-5 col-sm-pull-1">
                      <select id="fps" ng-model="$parent.NVRObj.bitRateData.FPS" class="input form-control" ng-options="opt as opt for opt in FPSList">
                      </select>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </section>
          <section class="col-xs-12 section">
            <div class="row">
              <div class="col-xs-12 col-sm-1 col-sm-push-2">
                <i class="fa fa-database fa-3x icon-centered"></i>
              </div>
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">

                <div class="row form-group">
                  <label for="num_rdays" class="col-xs-6 col-sm-2 col-sm-offset-3 input-label">Estimated Recording Days</label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <div class="input form-control" ng-click="onEstDays=!onEstDays" ng-class="{estdays:onEstDays}">{{getEstDays()}}</div>
                  </div><div class="col-sm-2"></div>
                </div>
              </div>
            </div>
            <div class="myPanel row" ng-if="onEstDays">
                  <div class="col-xs-6 col-sm-2 col-sm-offset-3 col-sm-pull-1 bigDays vcenter">{{getEstDays()}}<sub>{{getEstDays()>1?'days':'day'}}</sub>
                  </div>
                  <div class="col-xs-5 col-sm-6 vcenter">
                    <div class="row">
                      <section class="panelItem" >
                        <label for="rDays" class="col-xs-12 col-sm-5 col-sm-pull-1 input-label sub-label-indent">Recording Days</label>
                        <div class="col-xs-12 col-sm-5 col-sm-pull-1">
                          <select ng-model="$parent.rDays" class="input form-control" ng-change="withOtherOption($parent.rDays,0)" ng-options="opt for opt in rDaysArr ">
                          </select>
                          <div ng-class="{ 'has-error' : NVRForm.myrdays.$error.pattern && NVRForm.myrdays.$dirty || rdaysEmpty && NVRForm.myrdays.$dirty }">
                            <div ng-if="$parent.showOtherDuration" class="hidden-input input-group">
                              <input type="tel" pattern="\d{1,3}" class="form-control input" name="myrdays" placeholder="Enter the days" ng-model="NVRObj.rDays" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" ng-change="required()"/>
                              <div class="input-group-addon my-addon">Days</div>
                            </div>
                            <span ng-show="rdaysEmpty && NVRForm.myrdays.$dirty" class="help-block">The day is required.</span>
                            <span ng-show="NVRForm.myrdays.$error.pattern && NVRForm.myrdays.$dirty" class="help-block">Please enter a valid number.</span>
                          </div>
                        </div>
                        </section>

                        <section class="panelItem">
                        <label for="num_rhours" class="col-xs-12 col-sm-5 col-sm-pull-1 input-label sub-label-indent">Recording hours a day</label>
                        <div class="col-xs-12 col-sm-5 col-sm-pull-1">
                          <div ng-class="{ 'has-error' : NVRForm.num_rhours.$error.pattern && NVRForm.num_rhours.$dirty || rhoursEmpty && NVRForm.num_rhours.$dirty }">
                            <input type="tel" pattern="\d{1,2}" class="form-control input" placeholder="Enter the hours" ng-model="NVRObj.rHours" name="num_rhours" id="num_rhours" maxlength="2" onkeyup="value=value.replace(/[^\d]/g,'')" ng-change="required()"/>
                            <span ng-show="rhoursEmpty && NVRForm.num_rhours.$dirty" class="help-block">The hours are required.</span>
                            <span ng-show="NVRForm.num_rhours.$error.pattern && NVRForm.num_rhours.$dirty" class="help-block">Please enter a valid number.</span>
                          </div>
                        </div>
                        </section>
                        <section class="panelItem">
                        <label for="motion" class="col-xs-12 col-sm-5 col-sm-pull-1 input-label sub-label-indent">Motion Recording</label>
                        <div class="col-xs-12 col-sm-5 col-sm-pull-1">
                          <div class="range-div">
                            <input type="range" class="rangebar" ng-model="NVRObj.motion" min="0" max="100" step="10"/>
                            <span class="percentage">{{NVRObj.motion}}%</span>
                          </div>
                        </div>
                        </section>
                    </div>
                  </div>
            </div>
          </section>
          <section class="col-xs-12 section">
            <div class="row">
              <div class="col-xs-12 col-sm-1 col-sm-push-2">
                <i class="fa fa-hdd-o fa-3x icon-centered"></i>
              </div>
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="row form-group">
                  <label for="RAID" class="col-xs-6 col-sm-2 col-sm-offset-3 input-label">RAID Type</label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <div class="flex" id="RAID">
                      <div class="flex1" ng-click="selectRAID(0)" ng-class="{selected:settingRAID[0]}">Non</div><!-- non -->
                      <div class="flex1" ng-click="selectRAID(1)" ng-class="{selected:settingRAID[1]}">1</div><!-- x/2 -->
                      <div class="flex1" ng-click="selectRAID(2)" ng-class="{selected:settingRAID[2]}">5</div><!-- x-1 -->
                      <div class="flex1" ng-click="selectRAID(3)" ng-class="{selected:settingRAID[3]}">10</div><!-- ?? -->
                      <!-- consider to add an expansible option here! -->
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label for="HDDsize" class="col-xs-6 col-sm-2 col-sm-offset-3 input-label">HDD Size</label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <select ng-model="hdd" class="input form-control" id="HDDsize" ng-change="withOtherOption(hdd,1)" ng-options="opt for opt in HDDArr"></select>
                    <div ng-class="{ 'has-error' : NVRForm.HDDsize.$error.pattern && NVRForm.HDDsize.$dirty || hddEmpty && NVRForm.HDDsize.$dirty }">
                      <div ng-if="showOtherHDD" class="hidden-input input-group">
                        <input type="tel" pattern="\d{1,2}" class="form-control input" name="HDDsize" placeholder="Enter the size"
                      ng-model="NVRObj.HDDsize" maxlength="2" onkeyup="value=value.replace(/[^\d]/g,'')" ng-change="required()"/>
                        <div class="input-group-addon my-addon">TB</div>
                      </div>
                      <span ng-show="hddEmpty && NVRForm.HDDsize.$dirty" class="help-block">The size is required.</span>
                      <span ng-show="NVRForm.HDDsize.$error.pattern && NVRForm.HDDsize.$dirty" class="help-block">Please enter a valid number.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>

      <div class="row hd-requirement">
        <h4>Minimin Hardware Requirement</h4>
        <section class="row section section-require">
          <div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-3">
            <i class="fa fa-cubes fa-3x"></i></div>
          <div class="col-xs-9 col-sm-8">
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">Model</label>
              <div class="col-xs-6 col-xs-offset-1">NVR-5016-08HR</div>
            </div>
          </div>
        </section>
        <section class="row section section-require">
          <div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-3">
            <i class="fa fa-tachometer fa-3x"></i></div>
          <div class="col-xs-9 col-sm-8">
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">OS</label>
              <div class="col-xs-6 col-xs-offset-1">Windows 7 64bit</div>
            </div>
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">CPU</label>
              <div class="col-xs-6 col-xs-offset-1">Intel Core i5</div>
            </div>
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">RAM</label>
              <div class="col-xs-6 col-xs-offset-1">8 GB</div>
            </div>
          </div>
        </section>
        <section class="row section section-require">
          <div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-3">
            <span class="glyphicon glyphicon-hdd" style="font-size:2.5em"></span>
          </div>
          <div class="col-xs-9 col-sm-8">
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">Network</label>
              <div class="col-xs-6 col-xs-offset-1">1000 Mbps BASE-T x 2</div>
            </div>
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">HDDs</label>
              <div class="col-xs-6 col-xs-offset-1" ng-model="minHDD">{{NVRObj.HDDsize}} TB x {{ getMinHDD()}} <span class="unbreak">as a set</span><br>Totally {{modelSets}} {{modelSets>1?'sets are':'set is'}} needed</div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div id="cms" class="tab-pane fade">
      <div class="row customization">
        <form class="form-horizontal" name="CMSForm" ng-submit="submitCMS()" novalidate="">
          <section class="col-xs-12 section">
            <div class="row">
              <div class="col-xs-12 col-sm-1 col-sm-push-2">
                <i class="fa fa-camera-retro fa-3x icon-centered"></i></div>
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="row form-group" ng-class="{ 'has-error' : CMSForm.num_cameras_cms.$error.required && CMSForm.num_cameras_cms.$dirty || CMSForm.num_cameras_cms.$error.pattern && CMSForm.num_cameras_cms.$dirty }">
                  <label for="num_cameras_cms" class="col-xs-6 col-sm-2 col-sm-offset-3 input-label">Number of Cameras</label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <input type="tel" class="form-control input cmsBdr" placeholder="Enter the number" pattern="\d{1,5}" ng-model="CMSObj.cameras" name="num_cameras_cms" id="num_cameras_cms" maxlength="5" onkeyup="value=value.replace(/[^\d]/g,'')" required/>
                    <span ng-show="CMSForm.num_cameras_cms.$error.required && CMSForm.num_cameras_cms.$dirty" class="help-block">The number is required.</span>
                    <span ng-show="CMSForm.num_cameras_cms.$error.pattern && CMSForm.num_cameras_cms.$dirty" class="help-block">Please enter a valid number.</span>
                  </div>
                </div>
                <div class="row form-group">
                  <label for="bitrate_per_cms" class="col-xs-6 col-sm-2 col-sm-offset-3 input-label">Bit Rate per Camera <sub>(Mbps)</sub></label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <div id="bitrate_per_cms" class="input cmsBdr form-control" ng-click="onCMSBitRate=!onCMSBitRate" ng-class="{estdaysCMS:onCMSBitRate}">{{getBitRate()}}</div>
                  </div><div class="col-sm-2"></div>
                </div>

              </div>
            </div>
            <div class="myPanel myPanel-bitrate row" ng-if="onCMSBitRate">
              <div class="col-xs-6 col-sm-2 col-sm-offset-3 col-sm-pull-1 bigDays vcenter">{{getBitRate()}}<sub>Mbps</sub>
              </div>
              <div class="col-xs-5 col-sm-6 vcenter">
                <div class="row">
                  <section class="panelItem">
                    <label for="codec" class="col-xs-12 col-sm-5 col-sm-pull-1 input-label sub-label-indent">Codec</label>
                    <div class="col-xs-12 col-sm-5 col-sm-pull-1">
                      <select id="codec" ng-model="$parent.CMSObj.bitRateData.codec" class="input cmsBdr form-control" ng-options="opt as opt for opt in codecList">
                      </select>
                    </div>
                  </section>
                  <section class="panelItem">
                    <label for="quality" class="col-xs-12 col-sm-5 col-sm-pull-1 input-label sub-label-indent">Quality</label>
                    <div class="col-xs-12 col-sm-5 col-sm-pull-1">
                      <select id="quality" ng-model="$parent.CMSObj.bitRateData.quality" class="input cmsBdr form-control" ng-options="opt as opt for opt in qList">
                      </select>
                    </div>
                  </section>
                  <section class="panelItem">
                    <label for="rs" class="col-xs-12 col-sm-5 col-sm-pull-1 input-label sub-label-indent">Resolution</label>
                    <div class="col-xs-12 col-sm-5 col-sm-pull-1">
                      <select id="rs" ng-model="$parent.CMSObj.bitRateData.resolution" class="input cmsBdr form-control" ng-options="opt as opt for opt in RSList">
                      </select>
                    </div>
                  </section>
                  <section class="panelItem">
                    <label for="fps" class="col-xs-12 col-sm-5 col-sm-pull-1 input-label sub-label-indent">FPS</label>
                    <div class="col-xs-12 col-sm-5 col-sm-pull-1">
                      <select id="fps" ng-model="$parent.CMSObj.bitRateData.FPS" class="input cmsBdr form-control" ng-options="opt as opt for opt in FPSList">
                      </select>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </section>
          <section class="col-xs-12 section">
            <div class="row">
              <div class="col-xs-12 col-sm-1 col-sm-push-2">
                <i class="fa fa-user fa-3x icon-centered"></i></div>
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="row form-group">
                  <label for="local-client" class="col-xs-6 col-sm-2 col-sm-offset-3 input-label">Local Client</label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <div class="flex" id="local-client">
                      <div class="flex1 cmsFlex" ng-click="selectLocal(true)" ng-class="{selected:isLocal}">Yes</div>
                      <div class="flex1 cmsFlex" ng-click="selectLocal(false)" ng-class="{selected:!isLocal}">No</div>
                    </div>
                  </div>
                </div>
                <div class="row form-group range-div">
                  <label for="remote-user" class="col-xs-6 col-sm-2 col-sm-offset-3 input-label">Concurrent Remote Users</label>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <input type="range" class="rangebar-cms" ng-model="CMSObj.remoteUsers" min="1" max="10"/>
                    <span class="percentage">{{CMSObj.remoteUsers}}</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>

      <div class="row hd-requirement cmsBG">
        <h4>Minimin Hardware Requirement</h4>
        <section class="row section section-require">
          <div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-3">
            <i class="fa fa-cubes fa-3x"></i></div>
          <div class="col-xs-9 col-sm-8">
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">Model</label>
              <div class="col-xs-6 col-xs-offset-1">NVR-5016-08HR</div>
            </div>
          </div>
        </section>
        <section class="row section section-require">
          <div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-3">
            <i class="fa fa-tachometer fa-3x"></i></div>
          <div class="col-xs-9 col-sm-8">
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">OS</label>
              <div class="col-xs-6 col-xs-offset-1">Windows 7 64bit</div>
            </div>
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">CPU</label>
              <div class="col-xs-6 col-xs-offset-1">Intel Core i7</div>
            </div>
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">RAM</label>
              <div class="col-xs-6 col-xs-offset-1">8 GB</div>
            </div>
          </div>
        </section>
        <section class="row section section-require">
          <div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-3">
            <span class="glyphicon glyphicon-hdd" style="font-size:2.5em"></span>
          </div>
          <div class="col-xs-9 col-sm-8">
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">Network</label>
              <div class="col-xs-6 col-xs-offset-1">1000 Mbps BASE-T x 2</div>
            </div>
            <div class="row">
              <label class="col-xs-2 col-xs-offset-2">HDDs</label>
              <div class="col-xs-6 col-xs-offset-1">1TB x 1</div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>




