<div>
    <div class="jumbotron">
        <div class="row">
            <div class="table-showdigit col-xs-12
                        col-md-6 col-md-offset-3">
                <table
                  class="table table-hover table-responsive"
                  ng-class="{cmsTB:!onNVR}">
                    <thead>
                        <tr>
                            <th>Total Storage</th>
                            <th>Total Bandwidth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="greyMinus">
                                {{ showStorage() | displayFilter }}
                                <sub>{{sUnit}}</sub>
                            </td>
                            <td>
                                {{ showBandwidth() | displayFilter }}
                                <sub>{{bUnit}}</sub>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> <!-- /row -->
    </div> <!-- /jumbotron -->


    <!-- ----------------------------- -->


    <div
      class="maxwidth"
      ng-include="dataURL"
      ng-controller="formCtrl">
    </div>


    <!-- ----------------------------- -->


    <div
      class="savebtn"
      ng-controller="saveModalCtrl">
        <button
          class='btn btn-block btn-default'
          ng-click="openModal()">
          <span class="btnfont">Save</span>
        </button>
    </div>
</div> <!-- /MainCtrl -->
