<div class="container">
  <div class="jumbotron">

    <div class="row row-centered">
      <div class="col-md-8 col-md-offset-2 col-centered">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#peter" aria-controls="peter"
             role="tab" data-toggle="tab">NVR</a></li>
          <li role="presentation"><a href="#danny"
           aria-controls="danny" role="tab"
           data-toggle="tab">CMS</a></li>
        </ul>
        <span>Calculation - {NVR}</span>
      </div>
    </div>

    <div class="row box">
      <div class="col-xs-6">
        <div>Total Storage</div>
        <div class="box-text">9,967 GB</div>
      </div>
      <div class="col-xs-6">
        <div>Total Bandwidth</div>
        <div class="box-text">67.5 Mbps</div>
      </div>
    </div>

  <!--   <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->

  </div>

  <div class="row customization">
    <div class="row">
    <div class="col-xs-12">
      <div class="row marketing">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <h4>HTML5 Boilerplate</h4>
        <p>
          <i class="fa fa-anchor"></i>
          HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
        </p>
      </div>
    </div>

        <h4>Angular</h4>
        <p>
          AngularJS is a toolset for building the framework most suited to your application development.
        </p>

        <h4>Karma</h4>
        <p>Spectacular Test Runner for JavaScript.</p>
    </div>
  </div>
</div>
