<div class="row padding-bottom-2">
    <div class="col-md-7 col-md-offset-3 col-xs-push-1 col-md-push-0">
        <section class="row">
            <div class="col-xs-8">
                <h3>Project List</h3>
            </div>
            <div class="col-xs-4 col-xs-pull-1">

                <h3
                  ng-controller="MailCtrl"
                  ng-click="sendmail()">
                    <span class="glyphicon glyphicon-envelope">email</span>
                </h3>
            </div>

        </section>


        <section>

            <div
              ng-if="nodata">
                <h4>No data now!</h4>
            </div>

            <div
              class="project"
              ng-repeat="item in pjArr | orderBy: 'name'">
                <div
                  ng-click="select(item._id)"
                  ng-class="{selectItem:isSelect(item._id)}">
                    <span><h4>{{item.name}}</h4></span>
                    <div>
                        <div class="row">
                            <div class="col-xs-8">
                                <span ng-show="item.mynum1">N1: {{item.mynum1}}</span>
                                <span ng-show="item.mynum1 && item.mynum2">, </span>
                                <span ng-show="item.mynum2">N2: {{item.mynum2}}</span>
                                <br>{{item.offset !== undefined ? 'Add: ': 'Mul: '}}{{item.sum}}
                                <br>{{item.offset !== undefined ? 'Sub: ': 'Div: ' }}{{item.diff}}
                            </div>


                        </div>
                    </div> <!-- /detail -->
                </div> <!-- /max-width-80 -->
                <hr>
            </div> <!-- /ng-repeat -->
        </section>
    </div>
</div>
