<div class="row">
  <div class="col-md-7 col-md-offset-3">
<section>
  <h3>Project List</h3>
  <div class="filter">
    <input type="text" class="form-control" placeholder="Type to filter by project name" ng-model="filtText.name" maxlength="10">
  </div>
</section>
<hr class="hr">
<section>
  <div ng-if="nodata" class="nodata">
    <h4>There is no available data now!</h4>
  </div>
  <div class="project" ng-repeat="pj in projects | orderBy: 'name' | filter: filtText">
    <span ng-click="rename(pj)"><h4>{{pj.name}}</h4></span>
      <div class="details">
        <div class="row">
          <div class="col-xs-8">
            <span ng-show="pj.NVR.length">NVR: {{pj.NVR.length}}</span>
            <span ng-show="pj.NVR.length && pj.CMS.length">, </span>
            <span ng-show="pj.CMS.length">CMS: {{pj.CMS.length}}</span>
            <br>Total Storage: {{totalStorage(pj)}}
            <br>Total Bandwidth: {{totalBandwidth(pj)}}
          </div>
          <div class="col-xs-2">
             <a ui-sref="app.projectdetails({id: $index})">EDIT</a>
           </div>
          <div class="col-xs-2">DELETE</div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
