<div class="modal-header">
    <div class="modal-body">
        <form
          name="renameForm"
          novalidate>
            <div
            ng-class="{ 'has-error' : emptyName || NameExist}">
                <input
                  type="text"
                  class="form-control input"
                  name="pjName"
                  placeholder="Enter your project name"
                  maxlength="20"
                  required
                  ng-model="pjRename"
                  ng-change="validCheck()"/>
                <span
                  ng-show="emptyName"
                  class="help-block">
                    Project Name is required.
                </span>
                <span
                  ng-show="NameExist && !emptyName"
                  class="help-block">
                    The name already exists.
                </span>
            </div>

            <div class="hidden-input row">
                <button
                  class="btn btn-primary col-xs-4 col-xs-offset-1"
                  ng-click="renameSubmit()"
                  ng-disabled="emptyName || NameExist">
                    Confirm
                </button>
                <button
                  class="btn btn-warning col-xs-4 col-xs-offset-1"
                  ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </form>
    </div>  <!-- /modal-body -->
</div>  <!-- /modal-header -->
